flask==2.0.1
requests==2.26.0
beautifulsoup4==4.10.0
Flask-Alembic==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-CLI==0.4.0
Flask-DB==0.2.0
selenium==4.7.2
Pillow==8.3.2
flask-expects-json==1.7.0
flask_scss===0.5
psycopg2-binary===2.9.5
flask-paginate===2022.1.8
python-dotenv===0.21.0