{% extends 'base.html' %}

{% block show_service %}
  <div>
    <h2 class="detail_title"><strong>Grupo </strong> {{json.group}}</h2>
    <h2 class="detail_title"><strong>Aplicação </strong> {{json.name}}</h2>
    <h2 class="secondary">· Mais Detalhes</h2>
  </div>
  
   
{% endblock %}
{% block content %}
<div>
  <h2>Histórico de Status</h2>
  {{ pagination.links }}
  <ul>
    
    {% for i in json.jobs_records %}
    <li>
      <img src=../{{i.image}}/>
      <div class="option">
        <button class="button_option" id={{i.id}} type="button">
        <span class={{i.status}}></span>
        <p>{{i.job.description}}</p>
        <em>{{i.date_time_format}}</em>
      
      </button>
    
      </div>
      </li>
    {%endfor%}
    
    
  </ul>
  {{ pagination.links }}

</div>
<script>

  const jobs = JSON.parse('{{ json | tojson }}')
  console.log("values",jobs)
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

  const jobs = JSON.parse('{{ json | tojson }}')
  console.log("values",jobs)
  const labels = [
    'January',
    'February',
  ];
  const backgrounds =[]
  jobs.jobs_records.forEach(job =>{
    if(job.status === 'online'){
      backgrounds.push("green")
    }else{
      backgrounds.push("red")
    }
  })

  const data = {
    labels: labels,
    datasets: [{
      
      backgroundColor:backgrounds,
      data: jobs.jobs_records,
    }]
  };

  const config = {
    type: 'scatter',
    data: data,
    pointStyle:"circle",
    options: {
      parsing: {
        xAxisKey: 'day',
        yAxisKey: 'hour'
    },
    hitRadius:10,
    radius:5,
    plugins: {
    legend: {
      display: false
    }
  },
    scales: {
        y: {
            max: 24,
            min: 1,
            ticks: {
                stepSize: 3
            }
        },
        x:{
          max:31,
          min:0,
          tiks:{
            stepSize:3
          }
        }
    }
}
  };

  const myChart = new Chart(
  document.getElementById('myChart'),
  config
);
</script> -->
{% endblock %}
