<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Status de serviços Orango</title>
  <meta name="description" content="Status dos serviços Orango - por Filipe Lopes MED BR" />

  <!-- CSS principal -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

  <!-- Alpine.js (versão mínima) -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
  <div>
    <header>
      <div>
        <a href="/">
          <img src="{{ url_for('static', filename='assets/logo.png') }}" />
        </a>
        <h1>status</h1>
      </div>
    </header>
    <main class="">
      <div class="show_services">
        {% block show_service %}{% endblock %}
      </div>
      <div class="aplication">
        {% block content %}{% endblock %}
      </div>
      <div class="footer">
        <img src="{{ url_for('static', filename='assets/logo_secondary.png') }}" />
        <p>© 2021</p>
      </div>
    </main>
  </div>
</body>

</html>