@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,body{
  height:100%
}

body > div{
  height:100%;
  display:flex;
  flex-direction: column;
}

header {
  background: linear-gradient(90.02deg, #0b8aff 0.03%, #9507d8 105.11%);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    max-width: 900px;
    flex: 1;
    display:flex;
    align-items: end;
    img{
      margin-bottom:8px
    }
    
    h1{
      font-family: 'Kanit';
      font-style: normal;
      font-size: 39px;
      color: #FFFFFF;
      margin-left: 16px;
      font-weight:300
    }
  }
}

main {
  flex:1;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
  flex-direction: column;

  .footer{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    color: #A9A9A9;
    p{
      margin-left: 8px;
    }
  }

  div {
    max-width: 900px;
    width: -webkit-fill-available;
  }

  .aplication{
    margin-bottom:32px;
    margin-left: 32px;
    flex:1;

    h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: #565656;
      
    }

    div{

      margin-top: 18px;
      margin-left: 18px;

      h3{
        font-family: Roboto;
        font-size: 14px;
        margin-bottom: 8px;
      }

      ul{
        list-style:none;
        li > .option{
          cursor: pointer;
          display: flex;
          margin-top: 8px;
          align-items: center;
          display:flex;

          button{
            background: none;
            outline: none;
            border: none;
            display: flex;
          }

          p,em,.detail{
            color: #7B7B7B;

          }

          a,.detail{
            opacity: 0;
            transition:opacity 0.5s linear;
            font-family: Roboto;
            font-size: 10px;
            font-weight: bold;
            margin-left: 16px;
            text-decoration: none;
          }

          p{
            font-family: Roboto;
            margin-right: 12px;
            font-size: 14px;
  
          }
  
          em{
            font-style: italic;
            font-size: 12px;
  
          }

          span{
            width: 12px;
            height: 12px;
            border-radius:100%;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.online{
              background:linear-gradient(0deg, #3BA221, #3BA221), #3BA221;

              ::before{
                position: absolute;           
                background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 53.95%), radial-gradient(65.29% 62.86% at 48.57% 48.57%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
           
              }}

            &.warning{
              background:linear-gradient(0deg, #ff9900, #ff9900), #ff9900;

            }

            &.offline{

              background: linear-gradient(0deg, #D22020, #D22020), #D22020;

              ::before{
                position: absolute;           
                background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 53.95%), radial-gradient(65.29% 62.86% at 48.57% 48.57%, rgba(255, 255, 255, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
           
              }
            }
          }

          &:hover{

            a,.detail{
              opacity: 1;
            }
          }
        }

      }
    }
  }

  .show_services {
    height: 93px;
    background: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 43px;
    margin-bottom: 64px;

    h2 {
      margin-right: 13px;
      font-size: 30px;

      &.detail_title{
        color: #646464;
        font-weight: normal;
      }
  
      &.secondary{
        color: #A9A9A9;
        font-weight: normal;
      }
    }

    .on {
      color: #3ba221;
    }
    .off {
      color: #d22020;
    }
  }
}
