.services{

    margin-bottom:32px;
    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
    }

    .button_option{
        cursor:pointer;
    }

    
}

.service_group_header{
    display:flex;
    column-gap:16px;
    align-items: center;
    
    .label_not_exist_services{
        color:#7B7B7B
    }

    .button_test{
        display:flex;
        width: 105px;
        column-gap:8px;
        cursor:pointer;
        height: 36px;
        background: #FFFFFF;
        border:none;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        color: #565656;

    }
}

.loading{ li > .option span{
        background:gray !important;

    }
}